{{>header}}
	<time><a href="/users">Users in Database: {{total}}</a> {{date}}</time>
	<section class="timeline">
		{{>timeline}}
	</section>
	<section class="tools">
		{{>nav}}
		{{>mite}}
		{{>miteentries}}
	</section>
{{>footer}}