<nav>
	<ul class="clearfix">
		<li><a href="#">Mo</a></li>
		<li><a href="#">Di</a></li>
		<li><a href="#">Mi</a></li>
		<li><a href="#">Do</a></li>
		<li><a href="#">Fr</a></li>
		<li><a href="#">Sa</a></li>
		<li><a href="#">So</a></li>
	</ul>
</nav>