<div class="mite">
	<form method="post" action="/mite/add">
		<div class="form-row">
			<label for="title">Titel</label>
			<input type="text" name="title" id="title" value="Titel eingeben" />
		</div>
		<div class="form-row">
			<label for="client">Kunde/Projekt</label>
			<input type="text" name="client" id="client" />
			<input type="text" name="project" id="project" />
		</div>
		<div class="form-row">
			<label for="comment">Kommentar</label>
			<textarea name="comment" id="comment"></textarea>
		</div>
		<div class="form-row">
			<input type="submit" name="submit" id="submit" value="Speichern" />
			<a href="#" class="mite-cancel">Abbrechen</a>
		</div>
	</form>
</div>